{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Datakvalitet{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
      <ul>
        {% if g.user %}
          <li><a href="{{ url_for('views.add_data') }}">Legg til data i db</a></li>
          <li><a href="{{ url_for('views.add_kvalitetsmålinger') }}">Legg til kvalitetsmålinger db</a></li>
          <li><a href="{{ url_for('views.aggreger') }}">Aggreger</a></li>
        {% else %}
        {% endif %}
    </ul>
    <ul>
      <li><a href="{{ url_for('views.datakvalitet_kvalitetark') }}">Fullstendig kvalitetsuthenting</a></li>
    </ul>
  </div>
  <hr>
  <div>
    <h1 style="text-align: center;">
      Datakvalitet i NVDB
    </h1>
    <h2>
      Kvalitetselementer
    </h2>
    <section>
      Vi har definert flere kvalitetselementer for å prøve å konkretisere hva datakvalitet i NVDB faktisk betyr. Disse kvalitetselementene består av to nivå. Nivå 1 angir hvilken del av vegobjektet kvalitetselementet ser på. Nivå 2 angir hvilken kvalitetsparameter som kvalitetselementet bruker.
      Ett kvalitetselement er da en unik kombinasjon av nivå 1 og nivå 2.
    </section>
    <h3>
      Nivå 1
    </h3>
    <h4>
      Vegobjekter
    </h4>
    <section>
      Kvalitetselementer som ser på vegobjekter som en helhet. 
    </section>
    <h4>
      Egenskaper
    </h4>
    <section>
      Kvalitetselementer som ser spesifikt på egenskapsverdiene til vegobjektene.
    </section>
    <h4>
      Egengeometri
    </h4>
    <section>
      Kvalitetselementer som ser spesifikt på egengeometrien til vegobjektene.
    </section>
    <h4>
      Stedfesting
    </h4>
    <section>
      Kvalitetselementer som ser spesifikt på stedfestingen til vegobjektene.
    </section>
    <h4>
      Relasjoner
    </h4>
    <section>
      Kvalitetselementer som ser spesifikt på relasjonene til vegobjektene.
    </section>
    <h3>
      Nivå 2
    </h3>
    <h4>
      Fullstendighet
    </h4>
    <h4>
      Konsistens
    </h4>
    <h4>
      Riktighet
    </h4>
    <h4>
      Aktualitet
    </h4>
    <h4>
      Nøyaktighet
    </h4>
  </div>
{% endblock %}