{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Datakvalitet{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <form method="post">
      <label for="vegobjekttyper">Velg vegobjekttype:</label>
      <select name="vegobjekttyper" id="vegobjekttyper">
        {% for vegobjekttype in vegobjekttyper_ %}
          <option value="{{ vegobjekttype[0] }}" {% if vtid is defined and vegobjekttype['id'] | string() == vtid | string() %}selected{% endif %}>{{ vegobjekttype[1] }}</option>
        {% endfor %}
      </select>
      <button type="submit" name="vtid" value="vt_filter">Velg</button>
    </form>
  </div>
  {% if vtid %}
  <div>       
    <form method="post">
      <label for="vegkategorier">Velg vegkategori:</label>
      <select name="vegkategorier" id="vegkategorier">
        <option value="0">Alle</option>
        {% for vegkategori in vegkategorier %}
          <option value="{{ vegkategori }}">{{ vegkategori }}</option>
        {% endfor %}
      </select>  
      <label for="vegsystemer">Velg vegsystem:</label>
      <select name="vegsystemer" id="vegsystemer">
        <option value="0">Alle</option>
        {% for vegsystem in vegsystemer %}
          <option value="{{ vegsystem['id'] }}">{{ vegsystem['navn'] }}</option>
        {% endfor %}
      </select>
      <label for="fylker">Velg fylke:</label>
      <select name="fylker" id="fylker">
        <option value="0">Alle</option>
        {% for fylke in fylker %}
          <option value="{{ fylke['id'] }}">{{ fylke['navn'] }}</option>
        {% endfor %}
      </select>
      <label for="kommuner">Velg kommune:</label>
      <select name="kommuner" id="kommuner">
        <option value="0">Alle</option>
        {% for kommune in kommuner %}
          <option value="{{ kommune['id'] }}">{{ kommune['navn'] }}</option>
        {% endfor %}
      </select>
      <label for="områder">Velg vegstrekning:</label>
      <select name="områder" id="områder">
        <option value="0">Alle</option>
        {% for område in områder %}
          <option value="{{ område['id'] }}" {% if omrade_id is defined and område['id'] | string() == omrade_id | string() %}selected{% endif %}>{{ område['navn'] }}</option>
        {% endfor %}
      </select>  
      <button type="submit" name="område" value="vt_område_filter">Velg</button>
    </form>
  </div>
  {% endif %}
  {% if omrade_id %}
  <div style="display: flex; justify-content: space-between; align-items: flex-end;">
    <div>
      <label for="kvalitetselement-filter">Velg kvalitetselement:</label>
      <select id="kvalitetselement-filter" name="kvalitetselement-filter">
        <option value="0">Alle</option>
        {% for kvalitetselement in kvalitetselementer %}
        <option value="{{ kvalitetselement['id'] }}">{{ kvalitetselement['navn'] }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <button class="sammenlign-button" onClick="openSammenlign()">Sammenlign med område</button>
      

      <div class="sammenlign-popup" id="sammenlign-form">
        <form class="sammenlign-container">
          <h1>Sammenlign med område</h1>
          <div>
            <input type="checkbox" id="sammenlign-checkbox" name="sammenlign-checkbox"/>
            <label for="sammenlign-checkbox">Sammenligning på/av</label>
          </div>
          <label for="sammenlign-vegkategorier">Velg vegkategori:</label>
          <select name="sammenlign-vegkategorier" id="sammenlign-vegkategorier">
            <option value="0">Alle</option>
            {% for vegkategori in vegkategorier %}
              <option value="{{ vegkategori }}">{{ vegkategori }}</option>
            {% endfor %}
          </select>  
          <label for="sammenlign-vegsystemer">Velg vegsystem:</label>
          <select name="sammenlign-vegsystemer" id="sammenlign-vegsystemer">
            <option value="0">Alle</option>
            {% for vegsystem in vegsystemer %}
              <option value="{{ vegsystem['id'] }}">{{ vegsystem['navn'] }}</option>
            {% endfor %}
          </select>
          <label for="sammenlign-fylker">Velg fylke:</label>
          <select name="sammenlign-fylker" id="sammenlign-fylker">
            <option value="0">Alle</option>
            {% for fylke in fylker %}
              <option value="{{ fylke['id'] }}">{{ fylke['navn'] }}</option>
            {% endfor %}
          </select>
          <label for="sammenlign-kommuner">Velg kommune:</label>
          <select name="sammenlign-kommuner" id="sammenlign-kommuner">
            <option value="0">Alle</option>
            {% for kommune in kommuner %}
              <option value="{{ kommune['id'] }}">{{ kommune['navn'] }}</option>
            {% endfor %}
          </select>
          <label for="sammenlign-områder">Velg vegstrekning:</label>
          <select name="sammenlign-områder" id="sammenlign-områder">
            <option value="0">Alle</option>
            {% for område in områder %}
              <option value="{{ område['id'] }}" {% if omrade_id is defined and område['id'] | string() == omrade_id | string() %}selected{% endif %}>{{ område['navn'] }}</option>
            {% endfor %}
          </select>
          <button type="button" class="sammenlign-button-lukk" onClick="closeSammenlign()">Lukk</button>
        </form>
      </div>
    </div>
  </div>
  <button name="action" id="område_kvalitetselement">Velg</button>
  {% endif %}
  {% if kvalitetsmålinger %}
  <a href="#" id="downloadPdf">Last ned PDF</a>
  <div id="pdf-content">
    {% for kvid in kvalitetselement_relevant_ider | sort %}
    <div id="canvas_div_{{ kvid }}" style="height: 0px">
      <canvas id="{{ kvid }}"></canvas>
    </div>
    {% endfor %}
  </div>
  <div id="linjediagram-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Historisk kvalitet</h2>
      <canvas id="linjediagram"></canvas>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.2/jspdf.umd.debug.js">window.jsPDF = window.jspdf.jsPDF;</script>
  <script type="text/javascript">
    function openSammenlign() {
      document.getElementById("sammenlign-form").style.display = "block";
    }

    function closeSammenlign() {
      document.getElementById("sammenlign-form").style.display = "none";
    }

    function drawLinjediagram(dataset1, dataset2, labels) {
      let chartStatus = Chart.getChart("linjediagram"); // <canvas> id
      if (chartStatus != undefined) {
        chartStatus.destroy();
      }

      var line_modal = document.getElementById("linjediagram-modal");
      line_modal.style.display = "block";

      var line_ctx = document.getElementById('linjediagram').getContext("2d");
      var lineChart = new Chart(line_ctx, {
        type: 'line',
        data: {
          //labels: labels,
          datasets: [{
            label: 'Dataset 1',
            data: dataset1,
            borderColor: 'rgba(75, 192, 192, 1)',
            fill: false
          }, {
            label: 'Dataset 2',
            data: dataset2,
            borderColor: 'rgba(153, 102, 255, 1)',
            fill: false
          }]
        },
        options: {
          responsive: true,
          scales: {
            x: {
              type: 'time',
              time: {
                unit: 'hour',
                displayFormats: {
                  hour: 'yyyy-MM-dd HH:mm',
                }
              },
            },
            y: {
              min: 0,
              max: 100,
              ticks: {
                stepSize: 10,
                callback: function(value) {
                  return value + '%';
                }
              }
            }
          }
        }
      });
    };

    var line_modal = document.getElementById("linjediagram-modal");
    var line_span = document.getElementsByClassName("close")[0];
    line_span.onclick = function() {
      line_modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == line_modal) {
        line_modal.style.display = "none";
      }
    }

    const vegobjekttyper = {{ vegobjekttyper | tojson }};
    const egenskapstyper = {{ egenskapstyper | tojson }};
    const områder = {{ områder | tojson }};
    const kvalitetselementer = {{ kvalitetselementer | tojson }};
    const kvalitetselement_relevant_ider = {{ kvalitetselement_relevant_ider | tojson}};
    const vtid = {{ vtid }};
    const omrade_id = "{{ omrade_id }}";
    console.log(omrade_id)
    const kvalitetsmålinger = {{ kvalitetsmålinger | tojson }};
    console.log(kvalitetsmålinger)
    const skala = {{ skala | tojson }};
    const defaultSkala = skala.filter(dict => dict.id === 1);
    const filteredVegobjekttyper = vegobjekttyper.filter(dict => dict.id === vtid);
    var filteredEgenskapstyper = egenskapstyper.filter(dict => dict.vegobjekttype_id === vtid);
    //if (kvid == 2) {
    //  filteredEgenskapstyper = filteredEgenskapstyper.filter(dict => dict.viktighet === "PÅKREVD_IKKE_ABSOLUTT" || dict.viktighet === "PÅKREVD_ABSOLUTT")
    //} 
    const chartHeights = {'13': '1000px', '14':'500px','15':'500px', '28':'300px','30':'300px','58':'300px','59':'300px','62':'300px','5':'500px','6':'500px','7':'300px'}

    document.getElementById('område_kvalitetselement').addEventListener('click', function() {
      // Ødelegger eksisterende canvas elementer for å kunne lage nye.
      Object.keys(Chart.instances).forEach((key) => {
        Chart.instances[key].destroy();
      });
      
      var kvalitetselement_id = document.getElementById('kvalitetselement-filter').value;
      var sammenlign_område_id = document.getElementById('sammenlign-vegkategorier').value+"&"+document.getElementById('sammenlign-vegsystemer').value+"&"+document.getElementById('sammenlign-fylker').value+"&"+document.getElementById('sammenlign-kommuner').value+"&"+document.getElementById('sammenlign-områder').value;
      // Hvis kvalitetselement_id er 0, vis alle kvalitetselementene
      if(kvalitetselement_id == 0){
        for(var i=1; i<kvalitetselement_relevant_ider.length+1; i++){
          document.getElementById(`canvas_div_${kvalitetselement_relevant_ider[i-1]}`).style.height = chartHeights[kvalitetselement_relevant_ider[i-1]];
          createElement(kvalitetselement_relevant_ider[i-1], kvalitetselement_relevant_ider[i-1], sammenlign_område_id);
        }
      // Hvis ikke sett størrelsen til alle canvasene til 0, og sett størrelsen til det valgte canvaset
      } else {
        for(var i=1; i<kvalitetselement_relevant_ider.length+1; i++){
          document.getElementById(`canvas_div_${kvalitetselement_relevant_ider[i-1]}`).style.height = '0px';
        }
        document.getElementById(`canvas_div_${kvalitetselement_id}`).style.height = chartHeights[kvalitetselement_id]
        createElement(kvalitetselement_id, kvalitetselement_id, sammenlign_område_id)
      }
    });

    function createElement(chart_id, kvalitetselement_id, sammenlign_område_id){
      // Forbereder data for tegning av graf
      var kvalitetselement_navn = kvalitetselementer.filter(dict => dict.id == kvalitetselement_id)[0]['navn'];
      var data = prepareData(kvalitetsmålinger, kvalitetselement_id, omrade_id);
      var verdier = data[0];
      var område = data[1];
      var labelNames = data[2]
      var finn_skala = skala.filter(dict => dict.vegobjekttype_id == vtid && dict.kvalitetselement_id == kvalitetselement_id);
      // Velger riktig skala, hvis det ikke finnes en skala for det valgte kvalitetselementet, bruk defaultSkala
      if (finn_skala.length > 0) {
        var valgt_skala = finn_skala
      } else {
        var valgt_skala = defaultSkala
      }
      var sammmenlign = document.getElementById('sammenlign-checkbox').checked;
      // Tegner graf hvis ikke sammenlign område er valgt, ellers hent data for sammenligningsområde og tegn graf
      if(!sammmenlign){
        drawGraph(chart_id, verdier, null, labelNames, område, null, 70, kvalitetselement_navn, valgt_skala, sammenlign_område_id);
      } else {
        fetch("http://127.0.0.1:5727/add_område",
        {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
            'Accept': 'application/json'
          },
          body: JSON.stringify([vtid, sammenlign_område_id])
        }).then(res => {
          if (res.ok){
            return res.json();
          } else {
            return null;
          }
        }).then(jsonResponse => {
          if (jsonResponse) {
            var data2 = prepareData(jsonResponse['sammenlign_kvalitetsmålinger'], kvalitetselement_id, sammenlign_område_id);
            var verdier2 = data2[0]
            var område2 = jsonResponse['område_navn']
            var labelNames = data2[2]
            drawGraph(chart_id, verdier, verdier2, labelNames, område, område2, 70, kvalitetselement_navn, valgt_skala, sammenlign_område_id)
          }
        }).catch((err) => console.error(err));
      }
    }

    function prepareData(kvalitetsmålinger, kvalitetselement_id, område_id){
      var filteredKvalitetsmålinger = kvalitetsmålinger.filter(dict => dict.kvid == kvalitetselement_id);
      if (filteredKvalitetsmålinger.length > 1){
        var sum = filteredKvalitetsmålinger.reduce((acc, curr) => acc + curr.verdi, 0);
        var avg = sum / filteredKvalitetsmålinger.length;
        var prev_sum = filteredKvalitetsmålinger.reduce((acc, curr) => acc + curr.verdi_forrige, 0);
        var prev_avg = prev_sum / filteredKvalitetsmålinger.length;
        var ref_verdi = filteredKvalitetsmålinger[0]['ref_verdi'];
        var prev_ref_verdi = filteredKvalitetsmålinger[0]['ref_verdi_forrige'];
        filteredKvalitetsmålinger.unshift({ verdi: avg, verdi_forrige: prev_avg, ref_verdi: ref_verdi, ref_verdi_forrige: prev_ref_verdi });
      }
      var verdier = filteredKvalitetsmålinger.map(dict => (dict['verdi'] / dict['ref_verdi'] * 100).toFixed(2));
      var område = "{{ område_navn }}";//områder.filter(dict => dict.id == område_id)[0]['navn']
    
      filteredEgenskapstyper = egenskapstyper.filter(dict => dict.vegobjekttype_id === vtid);
      if (kvalitetselement_id == 14){
        filteredEgenskapstyper = filteredEgenskapstyper.filter(dict => dict.viktighet === "PÅKREVD_IKKE_ABSOLUTT" || dict.viktighet === "PÅKREVD_ABSOLUTT")
      } else if (kvalitetselement_id == 15){
        filteredEgenskapstyper = filteredEgenskapstyper.filter(dict => dict.viktighet === "BETINGET")
      } else if ([13].includes(kvalitetselement_id)){
        filteredEgenskapstyper = filteredEgenskapstyper;
      } else {
        filteredEgenskapstyper = [];
      }
      var labels = filteredVegobjekttyper.concat(filteredEgenskapstyper);
      var labelNames = labels.map(dict => dict['navn']);
      return [verdier, område, labelNames]
    }
    
    function drawGraph(chart_id, dataset1, dataset2, labels, område1, område2, kravverdi, kvalitetselement_navn, skala, sammenlign_område_id){
      console.log(dataset1)
      var ctx = document.getElementById(chart_id).getContext("2d");
      console.log(ctx)
      document.getElementById(chart_id).parentElement.style.marginBottom = "50px";

      var font_weights = ['bold']
      for(var i=1; i<dataset1.length; i++){
      font_weights[i] = 'normal';
      }

      const draw_background_plugin = {
      beforeDraw(chart){
        const ctx = chart.ctx;
        const yAxis = chart.scales.y;
        const xMin = yAxis.left;
        const xMax = yAxis.right;
        const top = yAxis.top;
        const bottom = yAxis.bottom;
        const xAxis = chart.scales.x;
        const y100 = xAxis.getPixelForValue(100);
        const y0 = xAxis.getPixelForValue(0);
        var sep_1 = Number(skala[0]['sep_1'])
        var sep_2 = Number(skala[0]['sep_2'])
        var sep_3 = Number(skala[0]['sep_3'])
        var sep_4 = Number(skala[0]['sep_4'])
        var ya = xAxis.getPixelForValue(sep_1);
        var yb = xAxis.getPixelForValue(sep_2);
        var yc = xAxis.getPixelForValue(sep_3);
        var yd = xAxis.getPixelForValue(sep_4);
        const colours = ['#ffcccc', '#fccebc', '#f3d2b0', '#e2d8a9', '#CCDDAA']
        for (var [yMin, yMax, colour] of
        [[y0, yd, colours[0]],
        [yd, yc, colours[1]],
        [yc, yb, colours[2]],
        [yb, ya, colours[3]],
        [ya, y100, colours[4]]]) {
          ctx.fillStyle = colour;
          ctx.fillRect(yMin, top, yMax-yMin, bottom-top);
        }
      }
      };
      const draw_standard_line = {
      afterDraw(chart){
        const ctx = chart.ctx;
        const xAxis = chart.scales.y;
        const bottom = xAxis.bottom;
        const top = xAxis.top;
        const yAxis = chart.scales.x;
        const start = yAxis.getPixelForValue(kravverdi);
        var colour = '#000000';
        ctx.fillStyle = colour;
        ctx.fillRect(start-1, top, 2, bottom-top);
      }
      };

      område1 = område1 ? område1 : 'Alle';
      console.log(område2)
      const diagram_data = {
      labels: labels,
      datasets: [{
        label: område1,
        backgroundColor: '#225555',
        borderColor: '#000000',
        data: dataset1,
      },
      ...(dataset2 && område2 ? [{
        label: område2,
        backgroundColor: '#555555',
        borderColor: '#000000',
        data: dataset2,
      }] : [])]
      };
      const diagram_config = {
      type: 'bar',
      data: diagram_data,
      options: {
        onClick: function(evt, elements, chart) {
          let graf_params = {'vtid':vtid, 'område':omrade_id, 'egenskapsnivå':(elements[0].index==0) ? false : true, 'egenskap':labels[elements[0].index], 'kvalitetselement':chart.canvas.id};
          if (dataset2) {
            // Graf med begge områder
            graf_params.område2 = sammenlign_område_id
          } else {
            // Graf med ett område
            graf_params.område2 = null
          }
          console.log(graf_params)
          fetch("http://127.0.0.1:5727/linjediagram",
          {
            method: 'POST',
            headers: {
              'Content-type': 'application/json',
              'Accept': 'application/json'
            },
            body: JSON.stringify(graf_params)
          }).then(res => {
            if (res.ok){
              return res.json();
            } else {
              return null;
            }
          }).then(jsonResponse => {
            if (jsonResponse) {
              console.log(jsonResponse['dataset1'])
              console.log(jsonResponse['dataset2'])
              drawLinjediagram(jsonResponse['dataset1'], jsonResponse['dataset2'], jsonResponse['labels']);
            }
          }).catch((err) => console.error(err));
        },
        indexAxis: 'y',
        elements: {
          bar: {
            borderWidth: 1,
          }
        },
        responsive: true,
        barPercentage: 1,
        scales: {
          x: {
            min: 0,
            max: 100,
            ticks: {
              display: true,
              autoSkip: false,
              font: {
                weight: 'bold',
                size: 16
              },
              callback: function(value, index, ticks) {
                return value + '%';
              }
            }
          },
          y: {
            ticks: {
              display: true,
              autoSkip: false,
              font: {
                weight: font_weights,
                size: 16
              }
            }
          }
        },
        maintainAspectRatio: false,
        animation: {
        duration: 0 
        },
        plugins: {
          title: {
            display: true,
            text: kvalitetselement_navn,
            font: {
            size: 18
            }
          }
        }
      },
      plugins: [draw_background_plugin]//draw_standard_line
      }
      const diagram = new Chart(
      ctx,
      diagram_config
      )
    }
  </script>
  <script src="https://unpkg.com/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>
  <script>
    $('#downloadPdf').click(function(event) {
      console.log("test")
      const { jsPDF } = window.jspdf;
      // get size of report page
      var reportPageHeight = $('#pdf-content').innerHeight();
      var reportPageWidth = $('#pdf-content').innerWidth();
      
      // create a new canvas object that we will populate with all other canvas objects
      var pdfCanvas = $('<canvas />').attr({
        id: "canvaspdf",
        width: reportPageWidth,
        height: reportPageHeight
      });
      
      // keep track canvas position
      var pdfctx = $(pdfCanvas)[0].getContext('2d');
      var pdfctxX = 0;
      var pdfctxY = 0;
      var buffer = 100;
      
      // for each chart.js chart
      $("canvas").each(function(index) {
        // get the chart height/width
        var canvasHeight = $(this).innerHeight();
        var canvasWidth = $(this).innerWidth();
        
        // draw the chart into the new canvas
        pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
        pdfctxX += canvasWidth + buffer;
        
        // our report page is in a grid pattern so replicate that in the new canvas
        if (index % 2 === 1) {
          pdfctxX = 0;
          pdfctxY += canvasHeight + buffer;
        }
      });
      
      // create new pdf and add our new canvas as an image
      var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
      pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);
      
      // download the pdf
      pdf.save('test-pdf.pdf');
    });
  </script>
  {% endif %}
{% endblock %}
